*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --background:hsl(0, 0%, 29%);
    --char:hsl(0, 0%, 17%);
    --right: hsl(120, 75%, 41%);
    --not:hsl(40, 100%, 48%);
    --no:hsl(0, 0%, 10%);
}

body{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input.char{
    background-color: var(--char);
    border-style: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 3.5rem;
    text-align: center;
    color: white;
    caret-color: transparent;
    transition: .1s;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    position: relative;

}


input.char.guess{
    text-shadow: 2px 3px black;
}

input.char:focus{
    border-style: none;
    outline: none;
    border: 0.15rem solid white;
    translate: 0 -0.2rem;
}

section:not(.past) input.char:disabled{
    filter: brightness(140%);
}

section.past input.char:not(.right,.not){
    background-color: var(--no);
}

section{
    display: flex;
    gap: .45rem;
}

.error{
    animation: shake .6s linear;

}


@keyframes shake {

    0%,20%,40%,60%,80%{
        translate: -.25rem 0;
    }
    10%,30%,50%,70%,90%{
        translate: .25rem 0;
    }

    100%{
        translate: 0 0;
    }
    
}

section input.char.right{
    background-color: var(--right);
    animation: big .9s ease-in-out;
}

@keyframes big {

    0%,100%{
        filter: brightness(100%);
    }

    60%{
        translate: 0 -0.2rem;

        filter: brightness(160%);
    }
    
}

input.char.not{
    background-color: var(--not);
}
